@media (max-width: 1200px){

    :root {
        /* Font Sizes & Family */
        --primary-font: 'Canela Text Trial', sans-serif;
        --secondary-font: 'HK Grotesk', sans-serif;  
        --button-font: "Sweet Sans Pro, Bold";
        --button-font-light: 'Sweet Sans Pro', serif;
      
      
        /* Color Variables */
        --primary-color: #DB9BB7;
        --primary-color-hover: #92749E;
        --secondary-color: #B09BB9;
        --tertiary-color: #FFF5FC;
        --text-color: #435A68;
        --text-color-dark: #787D98;
        --text-color-light: #F1E8F4;
        --secondary-text-color: #75858F;
        --tertiary-text-color: #667A86;
        --border-color: #E0B2C6;
        --white-color: #FFFEFC;
        --section-bg: #F0E3E9;
      
        /* transition */
        --tran-0-2: 0.2s;
        --tran-0-3: 0.3s;
        --tran-0-5: 0.5s;
      }
    

/* ////////// Intro ////////// */
.intro-container {
    display: flex;
    height:70vh;
    width: 100%;
    margin: auto;
    margin-top: 10%;
  }
  
  .intro-content {
    padding-left: 4%;
    padding-right: 4%;
    
  }
  
  .intro-title{
    font-size: 32px;
  }
  
  .intro-text {
    line-height: 1.8;
    padding-top: 4%;
  }




/* ////////// Left Row ////////// */
.contact-row-container {
    flex-direction: column;
    padding: 0;
  }

  .row.left-row { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 300px;
  
  }


  .row-content1 {
    margin: 0;
    padding: 0;
  }

  .row.left-row .centered-image {
    max-width: 80%; /* Controls image size, adjust as needed */
    height: auto; /* Maintains aspect ratio */
    padding-top: 8%;
    padding-bottom: 8%;
  
  }
  


  /* ////////// Right Row ////////// */

  .row-content2 {
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90%;
  }
  
  
  .right-row-title {
    font-size: 24px;
  
  }

}