
@import url('https://fonts.cdnfonts.com/css/crimson-text');
@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.cdnfonts.com/css/hk-groteks');
@import url('https://fonts.cdnfonts.com/css/sweet-sans-pro?weight=400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@font-face{
  font-family: 'Sweet Sans Pro, Bold';
  src: url('/sweet-sans-pro-fonts/SweetSansProBold.otf');
  font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  background-color: #FFFEFC;
}

:root {
  /* Font Sizes & Family */

  --body-font: "Sofia Pro", sans-serif;

  /* Color Variables */
  --primary-color: #DB9BB7;
  --primary-color-hover: #92749E;
  --secondary-color: #A68EAF;
  --text-color: #435A68;
  --text-color-light: #F1E8F4;
  --secondary-text-color: #75858F;
  --tertiary-text-color: #667A86;
  --border-color: #E0B2C6;
  --white-color: #FFFEFC;
  --section-bg: #F0E3E9;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/*////////// Navigation Bar //////////*/

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: background-color 0.6s;
  height: 12vh;
}

header.scrolled {
  background: var(--white-color); /* Background color for when the page is scrolled */
}

.logo{
  width: 12em !important;
  margin-left: 96px;
}


header .navigation{
  position: relative;
  line-height: 75px;
  transition: 0.6s;
  transition-property: line-height;
  margin-right:64px;
}

header.sticky .navigation{
  line-height: 60px;
}

header .navigation .menu{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item > a{
  color: var(--secondary-text-color);
  font-family: 'Sweet Sans Pro', sans-serif;                                     
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
  padding: 25px 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 1s;
}

.menu-item > a:hover{
  color: var(--primary-color);
}

.menu-item .sub-menu{
  position: absolute;
  background: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  top: 74px;
  line-height: 40px;
  list-style: none;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu{
  top: 60px;
}

.menu-item:hover .sub-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
 
}

.menu-item .sub-menu .sub-item{
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
  color: var(--text-color);
  font-size: 12px;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: 'Sweet Sans Pro', serif;
  font-weight: 300;
  transition: color 1s;
}

.menu-item .sub-menu .sub-item a:hover{
  color: var(--primary-color);
}


.menu-item .sub-menu .sub-item:last-child:hover{
  border-radius: 0 0 8px 8px;
  transition: color 1s;
}

.more .more-menu{
  position: absolute;
  background: white;
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
  transition: color 1s;
}

.more .more-menu .more-item{
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}



.menu-btn{
  display: none;
}


/* ////////// Hero Section ////////// */
.hero-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background: url(/images/hero-img.png) no-repeat center center / cover; /* Adjust shadow color and opacity */
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 60%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.hero-title {
  font-family: 'Canela Text Trial', sans-serif;                                   
  padding-bottom: 32px;
  font-size: 40px;
  font-weight: 100;
  color: var(--text-color);
}

.hero-subtitle {
  font-family: 'HK Grotesk', sans-serif;                                          
  letter-spacing: 0.5px;
  font-size: 20px;
  padding-bottom: 32px;
  font-weight: 300;
  line-height: 1.5;
}

.hero-button {
  background-color: #A68EAF;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Sweet Sans Pro, Bold";
  padding: 20px 32px;
  text-transform: uppercase;
  transition: background-color 1s;
  letter-spacing: 2px;
  cursor: grab;
  font-weight: 500;

}

.hero-button:hover {
  background-color: var(--primary-color-hover);
  color: white;
}

.cta-button {
  background-color: var(--primary-color-hover);
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Sofia Pro", sans-serif;
  padding: 20px 32px;
  text-transform: uppercase;
  transition: background-color 1s;
  letter-spacing: 2px;
  cursor: grab;
  font-weight: 500;
}

.cta-button:hover {
  background-color: var(--primary-color);
}

/* ////////// Overview ////////// */

.overview-popup {
  align-items: center;
  text-align: center;
  margin-top: 8%;
  font-size: 38px;
  font-family: 'Canela Text Trial', sans-serif; 
  font-weight: 100;
  color: #787D98;
  padding-right: 20%;
  padding-left: 20%;
  line-height: 1.4;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
 
.heading .section-heading {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 24px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Sweet Sans Pro, Bold';
  letter-spacing: 0.5px;
  margin-top: 9%;
  letter-spacing: 4px;
  font-weight: 600;

}

.heading p {
  font-size: 18px;
  color: purple;
  margin-bottom: 35px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

.overview-image {
  flex: 1;
  margin-right: 40px;

}

.overview-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.overview-content {
  flex: 1;
  padding-left: 40px;
}

.overview-content .section-title {
  font-size: 28px;
  color: var(--secondary-text-color);
  font-family: 'Canela Text Trial', sans-serif; 
  letter-spacing: 0.5px;
  font-weight: 100;
  padding-bottom: 24px;
  padding-top: 15px;
}

.overview-content .section-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
  color: #808080;
  font-family: 'HK Grotesk', sans-serif; 
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.overview-content .section-text {
  font-size: 17px;
  line-height: 1.8;
  color: var(--tertiary-text-color);
  font-family: 'HK Grotesk', sans-serif; 
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 20px;
}

.secondary-cta-button {
  background-color: transparent;
  border: none;
  text-underline-offset: 8px;
  color: #B09BB9;
  font-size: 13px;
  font-family: 'Sweet Sans Pro, Bold';
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: color 1s;
  cursor: grab;
}

.secondary-cta-button:hover:hover {
  color: var(--primary-color);

}

.card-cta-button {
  background-color: transparent;
  border: none;
  text-underline-offset: 8px;
  color: var(--secondary-color);
  font-size: 13px;
  font-family: 'Sweet Sans Pro, Bold';  
  text-decoration: underline;
  text-transform: uppercase;
  transition: color 1s;
  letter-spacing: 2px;
  cursor: grab;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-cta-button:hover:hover {
  color: var(--primary-color);
}



/* ////////// Services ////////// */
.services-container {
  max-width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  background: var(--text-color-light);
  padding: 20px 20px;
  align-self: normal;
  width: 20%;
  margin-bottom: 36px;
}

.custom-icon {
  fill: var(--primary-color-hover);
  margin-top: 24px;
  margin-bottom: 24px;
  align-self: center;
}

.card-title {
  font-size: 24px;
  color: var(--text-color);
  font-family: 'Canela Text Trial', sans-serif; 
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.card-text {
  font-size: 17px;
  font-family: 'HK Grotesk', sans-serif; 
  line-height: 1.8;
  color: var(--text-color);
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}

/* ////////// Testimonials ////////// */

.testimonials-container {
  height: 70vh;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 0px;
}

.testimonial {
  position: relative;
  width: 100% !important;
  max-width: 1200px;
  padding: 0px;
  overflow: hidden;
  padding: 10px;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide .quote-icon {
  font-size: 48px;
  color: var(--section-bg);
  position: sticky;
  margin-top: 8px !important;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.details .name {
  font-size: 24px;
  color: var(--text-color);
  font-family: 'Canela Text Trial', sans-serif;  
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px !important;
  text-align: center;
}
.details .job {
  font-size: 17px;
  color: var(--border-color);
  position: relative;
  text-transform: uppercase;
  font-family: "Sweet Sans Pro", sans-serif;
  letter-spacing: 0.5px;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: transparent;
  transition: 0.5s;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: var(--text-color);
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.testimonial .slide {
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.testimonial .slide.swiper-slide-prev {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with hidden slide */
}

.testimonial .slide.swiper-slide-next {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with hidden slide */
}

/* ////////// BOOK APPOINTMENT ////////// */
.wrap {
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 120px;
  
}

.centered {
  position: relative;
  padding: 16px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.appointment-content {
  width: 100%;
  height: 40vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-color: var(--section-bg);
}

.appointment-title {
  font-family: 'Canela Text Trial', sans-serif;    
  font-size: 32px;
  color: var(--text-color);
  padding: 24px;
  font-weight: 300;
  margin-bottom: 12px;
}

.cta-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  font-size: 14px;
  font-family: "Sweet Sans Pro", sans-serif;
  padding: 20px 32px;
  text-transform: uppercase;
  transition: background-color 1s;
  letter-spacing: 2px;
  cursor: grab;
  font-weight: 500;

}

.cta-button:hover {
  background-color: var(--border-color);
  color: var(--white-color);
}

/* ////////// Footer ////////// */
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #422A4F;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
  font-family: 'HK Grotesk', sans-serif;  
  font-size: 16px;
  text-decoration: none;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 8px;
  font-family: 'Sweet Sans Pro', sans-serif;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}

footer .bottom{
  width: 100%;
  text-align: left;
  color: var(--white-color);
  padding: 0px;
  margin-left: 60px;
  font-family: 'Sweet Sans Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
footer .bottom a{
  color: var(--white-color);
  font-family: 'Sweet Sans Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: var(--primary-color);
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
  footer .bottom{
    margin-left: 16px;
    margin-top: 32px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
  footer .bottom{
    margin-left: 16px;
}
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
  footer .bottom{
    margin-left: 16px;
}
}



/* ///////// Javascript Scroll Reveal: Top to Bottom ////////// */
.reveal {
  position: relative;
  transform: translateY(48px);
  opacity: 0;
  transition: all 1.2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* ////////// Javascript Scroll Reveal: Fade In ////////// */
.scroll-fade-in-effect {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1.2s ease-in-out,
    transform 1.2s ease-in-out;

  &.is-hidden {
    opacity: 0;
    transform: scale(.8,.8);
  }
}

/* ////////// Javascript Scroll: Right and Left ////////// */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.scrolled.slide-left {
  animation: slide-in-left 1.2s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1.2s ease-in-out both;
}
